.card {
    border-radius: 16px;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-color);
    color: #fff;
}

.white {
    background-color: #fff;
    border: 1px solid #000000;
    color: #000000;
}

.label {
    font-size: 14px;
}

.text {
    font-size: 12px;
    line-height: 1.3;
    white-space: pre-line;
}
